<a href="https://colab.research.google.com/github/giangnguyen040605-netizen/nguyenkhoachaugiang.github.io/blob/main/baibuoi02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ngôn ngữ Python**

In [1]:
print('Hello World')

Hello World

In [2]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [3]:
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7

future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

In [4]:
# Python Function def
def getfv(pv, r, n):
  fv = pv * ((1 + (r)) ** n)
  return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

In [5]:
# Python if else
score = 80
if score >=60 :
  print("Pass")
else:
  print("Fail")

Pass

In [6]:
print("Hello World")

Hello World

In [15]:
# comment

In [17]:
score = 80
if score >=60 :
   print("Pass")

Pass

In [19]:
# Python Variables
x = 2
price = 2.5
word = 'Hello'
word = 'Hello'
word = "Hello"
word = '''Hello'''

In [20]:
x = 2
y = x + 1

In [21]:
# comment
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.11.13

In [22]:
x = "Hello World" #str
x = 2 #int
x = 2.5 #float
x = 7j #complex

In [23]:
x = ["apple", "banana", "cherry"] #list
x = ("apple", "banana", "cherry") #tuple
x = range(6) #range
x = {"name" : "Tom", "age" : 20} #dict
x = {"apple", "banana", "cherry"} #set
x = frozenset({"apple", "banana", "cherry"})
#frozenset

In [24]:
x = True #bool
x = b"Hello" #bytes
x = bytearray(5) #bytearray
x = memoryview(bytes(5)) #memoryview
x = None #NoneType

In [25]:
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0
print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

In [26]:
x = 2 # int
y = 3.4 # float
z = 7j #complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

In [27]:
print('7 + 2 =', 7 + 2)
print('7 - 2 =', 7 - 2)
print('7 * 2 =', 7 * 2)
print('7 / 2 =', 7 / 2)
print('7 // 2 =', 7 // 2)
print('7 % 2 =', 7 % 2)
print('7 ** 2 =', 7 ** 2)

7 + 2 = 9
7 - 2 = 5
7 * 2 = 14
7 / 2 = 3.5
7 // 2 = 3
7 % 2 = 1
7 ** 2 = 49

In [28]:
# Python Booleans: True or False
print(3 > 2)
print(3 == 2)
print(3 < 2)

True
False
False

In [29]:
# BMI Calculator in Python
height_cm = 170
weight_kg = 60
height_m = height_cm/100
BMI = (weight_kg/(height_m**2))
print("Your BMI is: " + str(round(BMI,1)))

Your BMI is: 20.8

In [30]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))
# output = 194.87

fv =  194.87

In [31]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [32]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

Cấu trúc dữ liệu

In [33]:
x = ["apple", "banana", "cherry"] #list
x = ("apple", "banana", "cherry") #tuple
x = {"name" : "Tom", "age" : 20} #dict
x = {"apple", "banana", "cherry"} #set

In [34]:
x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

In [35]:
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])

10
20
30
50

In [37]:
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

In [38]:
# dictionary
k = { 'EN':'English','FR':'French' }
print(k['EN'])

English

In [39]:
fruits = ["apple", "banana", "cherry"] #lists []
colors = ("red", "green", "blue") #tuples ()
animals = {'cat', 'dog'} #sets {}
person = {"name" : "Tom", "age" : 20} #dictionaries {}

In [40]:
# lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [42]:
# tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),
("Inventory", 1003))
for account in accounts:
    print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [43]:
# set
account_numbers = set([acc[1] for acc in accounts]) #set comprehensive
print(account_numbers)
new_acc_number = 1004
if new_acc_number not in account_numbers:
  print(f'Account number {new_acc_number} is not in use')

{1001, 1002, 1003}
Account number 1004 is not in use

In [46]:
# dictionary
accounts = {
    "1001": {"name": "Cash", "balance": 500.0, "type": "Asset"},
    "1002": {"name": "Account Receivable", "balance": 1000.0, "type": "Asset"},
    "1003": {"name": "Account Payable", "balance": 750.0, "type": "Liability"}
}

for acc_num, acc_info in accounts.items():
  print('-'*50)
  print('Account Number: ', acc_num)

  print('Account Name: ', acc_info['name'])
  print('Account Balance: ', acc_info['balance'])
  print('Account Type: ', acc_info['type'])

--------------------------------------------------
Account Number:  1001
Account Name:  Cash
Account Balance:  500.0
Account Type:  Asset
--------------------------------------------------
Account Number:  1002
Account Name:  Account Receivable
Account Balance:  1000.0
Account Type:  Asset
--------------------------------------------------
Account Number:  1003
Account Name:  Account Payable
Account Balance:  750.0
Account Type:  Liability

In [48]:
# Python if
score = 80
if score >=60 :
   print("Pass")

Pass

In [49]:
# Python if else
score = 80
if score >=60 :
  print("Pass")
else:
  print("Fail")

Pass

In [51]:
score = 95
if score >= 90 :
  print("A")
elif score >=60 :
  print("Pass")
else:
  print("Fail")

A

In [52]:
# Python if elif else
score = 90
grade = ""
if score >=90:
  grade = "A"
elif score >= 80:
  grade = "B"
elif score >= 70:
  grade = "C"
elif score >= 60:
  grade = "D"
else:
  grade = "E"
print(grade)

A

In [54]:
#loop
for i in range(1,6):
  print(i, end = ' ')

1 2 3 4 5

In [60]:
# 2 loop
for i in range(1,10):
  for j in range(1,10):
     print(f'{i} * {j} = {i*j}')
  print('-'*50)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
--------------------------------------------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
--------------------------------------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
--------------------------------------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
--------------------------------------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
--------------------------------------------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
--------------------------------------------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
--------------------------------------------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
--------------------------------------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
--------------------------------------------------

In [61]:
# while loops
age = 10
while age < 20:
  print(age)
  age = age + 1

10
11
12
13
14
15
16
17
18
19

In [62]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
   fv = pv * ((1 + (r)) ** n)
   return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

In [63]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [64]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7

future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

In [66]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
    fv = pv * ((1 + (r)) ** n)
    return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

In [70]:
# Python class
class MyClass:
 x = 5

c1 = MyClass()
print(c1.x)

5

In [72]:
class Person:
  def __init__(self, name, age):
   self.name = name
   self.age = age
p1 = Person("Alan", 20)

print(p1.name)
print(p1.age)

Alan
20

In [74]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("Alan", 20)
p1.myfunc()

Hello my name is Alan

In [77]:
class Person:
  def __init__(self, name, age):
   self.name = name
   self.age = age
  def myfunc(self):
   print("Hello my name is " + self.name)

p1 = Person("Alan", 20)
p1.myfunc()
print(p1.name)
print(p1.age)

Hello my name is Alan
Alan
20

In [78]:
class Vehicle:
 name = ""
 kind = "car"
 color = ""
 value = 100.00

 def description(self):
   desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
   return desc_str
   pass

In [79]:
car1 = Vehicle()
car1.name = "Fer"
car1.color = "red"
car1.kind = "convertible"
car1.value = 60000.00
car2 = Vehicle()
car2.name = "Jump"
car2.color = "blue"
car2.kind = "van"
car2.value = 10000.00
print(car1.description())
print(car1.name)
print(car2.description())
print(car2.name)

Fer is a red convertible worth $60000.00.
Fer
Jump is a blue van worth $10000.00.
Jump

In [81]:
# mymodule.py
def greeting(name):
   print("Hello, " + name)

ModuleNotFoundError: No module named 'mymodule'